# Copy this file to ~/ and rename it .fabricrc
# See http://docs.fabfile.org/en/1.3.3/usage/fab.html
# and http://docs.fabfile.org/en/1.3.3/usage/env.html for more documentation.

# The location of the fabfile so fab can find it anywhere (fabfiles are usually
# stored in the relation to a "project").
fabfile=~/bin/goodold-bin/fabric/fabfile.py

# The directory where projects are stored. Defaults to $PROJECTS_DIR if set in
# your bash profile or "~/Projects" if nothing is set.
# projects_dir=~/Sites

# Set TLD used in project directory name. Set to empty if you don't use a TLD
# in the directory name. Defaults to your username.
# local_tld=

# Local MYSQL info. Used in tasks where this can't be parsed from the project.
# local_db_user=root
# local_db_password=pass
